{% extends 'base.html' %} 

{% block content %}
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form method="POST" class="card card-body">
                    <h1 class="text-center">Singup</h1>
                    
                    {% csrf_token %}

                    {% if error %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                    {% endif %}
                    
                    <div class="form-floating mb-3">
                        <input type="text" name="username" id="username"  class="form-control" placeholder="Escribe tu nombre de usuario" required>
                        <label for="floatingInput">Nombre de usuario</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="password1" id="password1" class="form-control" placeholder="Contraseña" required>
                        <label for="floatingPassword">Contraseña</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirma tu contraseña" required>
                        <label for="floatingPassword">Confirma tu contraseña</label>
                    </div>
                    
                     <button class="btn btn-primary">
                        Singup
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}