{% extends 'base.html' %} 

{% block content %}
<main class="container-md">
    <h1 class="text-center mb-4 mt-4">Tareas Pendientes</h1>
    <div class="row">
        {% for task in tasks %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title {% if task.important %}text-danger{% endif %}">
                        {{ task.title }}
                    </h5>
                    <p class="card-text">{{ task.description }}</p>
                    <p class="card-text">{{ task.user.username }}</p>
                    <div class="card-footer text-muted mb-3">{{ task.datecomplete|date:'M j Y:i' }}</div>
                    <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}